.sidebar_chat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(121, 121, 121, 0.12);
}

.sidebar_chat:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar_chat_info h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}

.sidebar_chat_info p {
    font-size: 18px;
}

.sidebar_chat_info {
    margin-left: 15px;
}